.calculator {
	border: 1px solid #91a2ad;
	background: #fff;
	border-radius: 6px;
	padding: 44px 18px;
}

.crumbs {
	border: 1px solid #91a2ad;
	border-radius: 6px;
	padding: 35px 32px 24px;
	position: relative;
	margin-bottom: 45px;
}

.crumbs::after {
	content: "";
	display: block;
	height: 3px;
	border: 1px solid #91a2ad;
	border-top: none;
	border-radius: 0 0 6px 6px;
	position: absolute;
	bottom: -4px;
	left: 7px;
	right: 7px;
}


.crumbs__header {
	background: #fff;
	padding: 0 15px;
	display: inline-block;

	font-weight: 500;
	font-size: 24px;
	margin: 0;
	
	position: absolute;
	top: -12px;
	left: 16px;
}

.crumbs__line {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.crumbs__crumb {
	background: #5accbe;
	flex: 1 0 auto;
	min-width: 20%;
	height: 42px;
	position: relative;
	margin: 0 0 8px 0;
	color: #fff;
	display: flex;
	align-items: center;
	box-shadow: 0 -15px 40px -20px rgba(0,0,0,0.5) inset;
}

.crumbs__crumb::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	width: 0; 
  	height: 0; 	
	border-top: 21px solid transparent;
  	border-bottom: 21px solid transparent;
	border-left: 8px solid #fff;
}

.crumbs__crumb::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;

	width: 0; 
  	height: 0; 	
	border-top: 21px solid #fff;
  	border-bottom: 21px solid #fff;
	border-left: 8px solid transparent;
}

.crumbs__crumb:first-child::before {
	display: none;
}

.crumbs__crumb-num {
	color: #5accbe;
	margin: 0 12px 0 16px;
	font-size: 11px;
	text-align: center;
	background: #fff;
	border-radius: 3px;
	display: inline-block;
	padding: 3px 0 1px;
	width: 16px;
}

.crumbs__crumb-inner {
	position: absolute;
	white-space: nowrap;
}

.crumb__progress {
	position: absolute;
	height: 100%;
	background: #519c93;
}

.crumb__progress--complete {
	width: 100%;
}

 .crumbs__crumb--complete {
 	background: #519c93;
 }

 .crumbs__crumb--complete .crumbs__crumb-num,
 .crumbs__crumb--in-progress .crumbs__crumb-num {
 	color: #519c93;
 }

.switch {
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid #91a2ad;
	font-size: 0;
	height: 45px;
}

.switch__position {
	display: inline-block;
	font-size: 14px;
	border-left: 1px solid #91a2ad;
	padding: 15px 31px;
	cursor: pointer;
}

.switch__position:hover,
.switch__position:active {
	color: #fff;
	background-color: #2cadc7;
	transition: all 400ms;
}

.switch__position--active {
	color: #fff;
	background-color: #2cadc7;
	cursor: default;
}

.switch__position:first-child {
	border-left: none;
}

.field {
	margin-bottom: 45px;
}

.field__inner {
	margin: 0 30px;
	padding-bottom: 50px;
	border-bottom: 1px solid #91a2ad;
}

.field:last-of-type .field__inner {
	border-bottom: none;
}

.field__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 30px;
	margin-bottom: 50px;
}

.field__label {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
	letter-spacing: 0.8px;
}

.makers-list {
	display: grid;
  	grid-template-columns: repeat(5, 20%);
  	grid-auto-flow: row;
  	padding-bottom: 0;
}

.makers {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.makers__litter {
	background: #c0d5dc;
	display: block;
	width: 41px;
	height: 42px;
	border-radius: 0 0 20px 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 42px;
	text-align: center;
}

.makers__item {
	margin-top: 12px;
	border-bottom: 1px solid transparent;
}

.makers__label {
	cursor: pointer;
	border-bottom: 1px solid transparent;
}

.makers__label:hover,
.makers__label:active {
	color: #2cadc7;
	border-bottom: 1px solid #2cadc7;
	transition: all 400ms;
}

.steps {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 30px;
}

.steps__step {
	border-radius: 6px;
	background-color: #e3f2f6;
	color: #097796;
	font-size: 17px;
	font-weight: 700;
	line-height: 54px;
	text-align: center;
	flex-basis: 100%;
	margin-left: 10px;
	border: 1px solid #e3f2f6;
}

.steps__step:hover,
.steps__step:active {
	border: 1px solid #097796;
	transition: all 400ms;
}

.steps__step:first-child {
	margin-left: 0;
}

.steps__step--back {
	flex: 0 0 64px;
}

.options {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	font-size: 0;
}

.options__option {
	white-space: nowrap;
	margin: 0 10px 10px 0;
	border: 1px solid #91a2ad;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 400;
	line-height: 45px;
	text-align: center;
	padding: 0 30px;
}

.options__option--interactive {
	cursor: pointer;
}

.options__option--active {
	background-color: #2cadc7;
	color: #fff;
	font-weight: 500;
}

.options__option--interactive:hover,
.options__option--interactive:active {
	background-color: #2cadc7;
	color: #fff;
	transition: all 400ms;
}

.selected-options {
	margin-top: 15px;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
}

.selected-options__option {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin-right: 20px;
}

.selected-options__option:last-child {
	margin-right: 0;	
}

.selected-options__option--removable {
	cursor: pointer;
}

.selected-options__option--removable:hover::after,
.selected-options__option--removable:active::after {
	background-color: #91a2ad;
	color: #fff;
	transition: all 400ms;
}

.selected-options__option-label {
	border-bottom: 1px solid transparent;
}

.selected-options__option--removable:hover .selected-options__option-label,
.selected-options__option--removable:active .selected-options__option-label {
	border-bottom: 1px solid #91a2ad;
	transition: all 400ms;
}

.selected-options__option--removable::after {
	content:"\2715";
	line-height: 17px;
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #91a2ad;
	text-align: center;
	vertical-align: middle;
	font-weight: 400;
	font-size: 10px;
}
