.button {
	display: flex;
	border-radius: $border-radius;
	align-items: center;
	justify-content: center;
	height: $control-height;
	width: 100%;
	text-decoration: none;
	background: $primary-color;
	color: #fff;
	transition: all .5s;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		background: $primary-color-light;
		color: #fff;
		transition: all .5s;
	}

	&--secondary {
		background: transparent;
		color: $font-color-secondary;

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			background: $secondary-color;
			color: $font-color;
			transition: all .5s;
		}
	}
}