$secondary-color: #f1f6f9;
$secondary-color-active: #fff;

$primary-color-dark: #4086af;
$primary-color: #5398c0;
$primary-color-light: #2b9bad;

$accent-color: #dd815b;

$color-positive: #88c955;
$color-negative: #d76730;

$font-color: #474b4c;
$font-color-header: #909393;
$font-color-light: #c7cbce;

$color-negative: #d76730;
$color-positive: #80c549;

$background: #dde9f0;

$menu-hover: #f3f6f8;

$grid-spacing: 30px;

$content-spacing: 6px;

$transition-time: .4s;
