@mixin icon-mixin($icon) {
 	background-image: url(/static/icon/#{$icon}.png);

	&:hover,
	&:focus,
	&:active,
	&--active {
		background-image: url(/static/icon/#{$icon}--active.png);
	}
}

.icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	&--big {
		width: 25px;
		height: 25px;
	}

	&--small {
		width: 18px;
		height: 18px;
	}

	&--x-small {
		width: 11px;
		height: 11px;
	}

	&__house {
		@include icon-mixin('house');
	}
	&__checkbox {
		@include icon-mixin('checkbox');
	}
	&__copy {
		@include icon-mixin('copy');
	}
	&__document {
		@include icon-mixin('document');
	}
	&__download {
		@include icon-mixin('download');
	}
	&__file-cabinet {
		@include icon-mixin('file-cabinet');
	}
	&__id-card {
		@include icon-mixin('id-card');
	}
	&__reload {
		@include icon-mixin('reload');
	}
	&__user {
		@include icon-mixin('user');
	}
	&__clip {
		@include icon-mixin('clip');
	}
	&__close {
		@include icon-mixin('close');
	}
	&__down-arr {
		@include icon-mixin('down-arr');
	}
	&__up-arr {
		@include icon-mixin('up-arr');
	}
}

